* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url('../images/curser.png'), auto;
}

body{
    overflow:hidden;
    background: url('../images/garden2.webp') no-repeat;
    background-size: cover; 
}

#name, #level, #score, #kills, #timer{
    background-color: #566e2d;
    color: #fff;
    padding: 10px 25px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

#result{
    position: absolute;
    top: 150px;
    left: 35%;
    width: 400px;
    background-color: #566e2d;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#result{
    z-index: 1;
    display: none;
}

#resultText{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
}

#playAgain, #cancel{
    width: 150px;
    background: transparent;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 10px;
    font-weight: 700;
    margin: 20px auto;
    padding: 20px 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid aqua;
}

#playAgain:hover,
#cancel:hover{
    color: white;
    box-shadow: 3px 3px 20px #03e9f4, 3px 2px 20px #03e9f4;
}