*{
    text-align: center;
    text-align-last: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background:url("../images/garden.jpg") no-repeat;
    background-size: cover;
    background-position-y: -80px;
  }

  .row{
    margin-top: 5%;
    width: 99%;
  }

  .loginPage {
    width: 360px;
    margin: 0 0 0 10%;
  }
  
  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 25px;
    text-align: center;
  }
  
  .form input,
  .form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .form button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 5px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 4px;
    background: #afd804;
    font-family: monospace;
    text-transform: uppercase;
    transition: background-color 1s;
  }
  
  .form button:hover {
    cursor: pointer;
    background-color: #56d804;
  }
  
  .points{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
  }
  

  .points tbody img {
    width: 50px;
    height: 50px;
  }