* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
  }
  
  .container {
    background: url('../images/garden.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 8px;
  }
  
  .menu, .rules {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 15px auto;
    position: relative;
    padding: 10px;
    border-radius: 16px;
  }
  
  label, input {
    display: block;
    margin: 8px auto;
    width: 80%;
    padding: 8px;
    font-size: 16px;
  }
  
  label, .rules>h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin: 0px auto;
  }
  
  input[type = submit] {
    width: 200px;
    background: transparent;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto;
    padding: 20px 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid aqua;

  }
  
  input[type = submit]:hover {
    color: green;
    box-shadow: 3px 3px 20px #03e9f4, 3px 2px 20px #03e9f4;
  }
  
  .blackBird {
    width: 40px;
  }
  
  .cyanBird {
    width: 60px;
  }
  
  .whiteBird {
    width: 80px;
  }
  
  .rules>table {
    margin: 8px auto;
  }
  
  .rules>table td span {
    font-size: 25px;
  }
  
  .rules>table td {
    text-align: center;
    padding: 8px;
  }
  
  .small {
    color: #461805;
  }
  
  .medium {
    color: #4eaa29;
  }
  
  .large {
    color: #e52a2d;
  }